.productDetailBody {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* Logo Header */
.productTitleHeader {
    width: 100%;
    height: 130px;
    background-color: #0b1841;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
}

.productTitleLogo {
    width: 30%;
    height: 90%;
}

/* Product Container */
.productDetailContainer {
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15em;  
    margin-bottom: 5em;
    border-radius: 10px;
    background-color: #05174f; 
}

.productDetailCard {
    max-width: 50%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;  
    justify-content: left;
    margin: 1em;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

.productDetailInfo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.productDetailInfo p {
    font-weight: 500;
    margin-top: 5px;
}

.productDetailInfo h2 {
    margin-bottom: 5px;
}

.product-image {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}


/* Cart Section */
.cartContainer {
    max-width: 30%;
    height: fit-content;
    display: inline-block;
    flex-wrap: wrap;
    margin: 1em;
    padding: 5px;
    border-radius: 10px;
    background-color: cornflowerblue; 
}

.cartContainer button {
    border-radius: 10px;
}

.cartContainer p {
    font-weight: 500;
}
