.homepageBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* Product Container */
.homeProductContainer {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.intro {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px 80px;
    background-color: cornflowerblue;
    padding: 40px 20px;
    border-radius: 10px;
    font-size: 1.5em;
}

.homeProductContainer h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.homeProductCard {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-top: 0;
}

.homeProductItems {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.homeProductItems:hover {
    box-shadow: 0 0 4px 4px #1c16cd;
}

.homeProductItems img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.homeProductItems h3 {
    height: 50px;
    margin: 5px 0;
    color: black;
    font-weight: 700;
}

.homeProductItems p {
    font-size: 1.1em;
    color: black;
    margin: 5px 0;
    font-weight: 700;
}


/* Media query for mobile view */
@media (max-width: 768px) {
    
}