.accountBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* Personal Detail Section */
.accountContainer {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px; 
    margin-bottom: -170px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.accountInfoSection {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 15px;
    margin-top: -8px;
    background-color: royalblue;
    border-radius: 10px;
}

.userSection {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding-left: 30px;
    background-color: royalblue;
    margin: 0;
    border-radius: 10px;
}

.userSection p {
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 8px 0;
}


/*Order History List Section */
.orderContainer {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 220px;
    margin-bottom: 100px; 
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.orderListContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top: -30px;
    border-radius: 10px;
}


.orderlist {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    background-color: royalblue;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    padding-left: 10px;
}

.orderlist:hover {
    box-shadow: 0 0 8px 4px #1c16cd; /* Enhanced hover effect */
}

.orderlist p {
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    margin: 5px 0;
}

.orderListBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}