.accountBody {
    width: 100%;
    min-height: 76vh;
    display: flex;
}

/*bothContainer */
.bothContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 10px;
    /* background-color:crimson; */
}


/* Personal Detail Section */
.accountContainer {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.accountContainer h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}

.accountInfoSection {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 10px;
    margin-top: -8px;
    background-color: royalblue;
    border-radius: 10px;
}

.userSection {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding-left: 10px;
    background-color: royalblue;
    margin: 0;
    border-radius: 10px;
}

.userSection p {
    color: black;
    font-weight: 600;
    font-size: 1rem;
    margin: 8px 0;
}


/*Order History List Section */
.orderContainer {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin-left: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.orderContainer h2 {
    font-size: 1.2em;
}

.orderListContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top: -30px;
    border-radius: 10px;
}


.orderlist {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    background-color: royalblue;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    padding-left: 10px;
}

.orderlist:hover {
    box-shadow: 0 0 8px 4px #1c16cd; /* Enhanced hover effect */
}

.orderlist p {
    color: black;
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0;
}

.orderListBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.emptyCartMessage {
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;

}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    .bothContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        /* background-color:crimson; */
    }
    
    .accountContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: cornflowerblue;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    .orderContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        margin-top: 20px;
        background-color: cornflowerblue;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

}
