/* src/components/RegisterPage.css */
.registerBody {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    text-align: center;
}

.registerForm {
    width: 50%;
    margin-bottom: 5%;
    padding: 20px; /* Add padding for better spacing */
    background-color:rgb(26, 149, 143);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.registerForm h2 {
    margin-bottom: 20px; /* Add spacing below the heading */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.registerForm input {
    width: 80%; /* Make inputs take most of the form width */
    padding: 10px; /* Add padding for better appearance */
    margin-bottom: 10px; /* Add spacing between inputs */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add rounded corners */
}

.registerForm button {
    width: 85%; /* Make button take most of the form width */
    padding: 10px;
    background-color: #026fe4; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 10px; /* Add spacing above button */
}

.registerForm button:hover {
    background-color: #0056b3; /* Darken button on hover */
}

.registerForm p {
    margin-top: 20px; /* Add spacing above the paragraph */
}

.registerForm a {
    color: #082039; /* Link color */
    text-decoration: none; /* Remove underline from link */
}

.registerForm a:hover {
    text-decoration: underline; /* Underline link on hover */
}

.logo {
    width: 150px;
}