.productListBody {
    width: 100%;
    min-height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Product Container */
.productContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;  
    margin-bottom: 50px;
}

.productCard {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.productItems {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.productItems:hover {
    box-shadow: 0 0 4px 4px #1c16cd;
}

.productItems img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
    margin-bottom: 10px;
}

.productItems:hover img {
    transform: none;
    box-shadow: none;
  }

.productItems h3 {
    height: 50px;
    margin: 5px 0;
    color: black;
    font-weight: 500;
}

.productItems p {
    font-size: 1.2em;
    color: black;
    margin: 5px 0;
    font-weight: 500;
}

a {
    text-decoration: none;
}


/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    .productContainer h2 {
        font-size: 1.2em;
        margin: 3px;
    }

    .productCard {
        list-style-type: none;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .productItems {
        width: 150px;
        margin: 10px;
        padding: 10px;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    .productItems img {
        min-height: 150px;
        max-height: 150px;
        object-fit: fill;
    }
}

@media only screen and (min-width: 600px) and  (max-width: 900px) {
    .productContainer h2 {
        font-size: 1.5em;
        margin: 3px;
    }
    
    .productItems {
        width: 130px;
        margin: 10px;
        padding: 10px;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

    .productItems img {
        min-height: 150px;
        max-height: 150px;
        object-fit: fill;
    }

}